Source: ros-jazzy-avt-vimba-camera
Section: misc
Priority: optional
Maintainer: AutonomouStuff Software Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, image-transport-tools, libcamera-info-manager-dev, libdiagnostic-msgs-dev, libdiagnostic-updater-dev, libimage-transport-dev, libmessage-filters-dev, libsensor-msgs-dev, libstd-msgs-dev, python3-diagnostic-msgs, python3-diagnostic-updater, python3-message-filters, python3-sensor-msgs, python3-std-msgs, ros-diagnostic-msgs, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-sensor-msgs, ros-std-msgs, ros-jazzy-ros-workspace
Homepage: https://github.com/astuff/avt_vimba_camera
Standards-Version: 3.9.2

Package: ros-jazzy-avt-vimba-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, image-transport-tools, libcamera-info-manager-dev, libdiagnostic-msgs-dev, libdiagnostic-updater-dev, libimage-proc-dev, libimage-transport-dev, libmessage-filters-dev, libsensor-msgs-dev, libstd-msgs-dev, libstereo-image-proc-dev, python3-diagnostic-msgs, python3-diagnostic-updater, python3-image-proc, python3-message-filters, python3-sensor-msgs, python3-std-msgs, python3-stereo-image-proc, ros-diagnostic-msgs, ros-image-proc, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-sensor-msgs, ros-std-msgs, ros-stereo-image-proc, ros-jazzy-ros-workspace
Description: Camera driver for Allied Vision Technologies (AVT) cameras, based on their Vimba SDK.
